rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /forum_nikkei_respostas/{responseId} {
      allow create: if true;
      allow read, update, delete: if false;
    }

    match /forum_nikkei_analises/{documentId} {
      allow read, write: if false;
    }
  }
}
